@using System.Globalization;
@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.HotelViewModel
@{
    ViewBag.Title = "Hotel Transacton List View";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Date picker plugins css -->

<link href="~/plugins/bower_components/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="~/Script/hotel.js"></script>

<form class="form-horizontal form-material" id="cancelHotelForm" onsubmit="return SubmitHotelCancelRequest();">
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-3">Email</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.HotelDescRequest.Email, new { @required = "", @id = "email", @class = "form-control", @placeholder = "Email" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">LastName</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.HotelDescRequest.LastName, new { @required = "", @id = "lastname", @class = "form-control", @placeholder = "LastName" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Booking Refernece</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.HotelDescRequest.Bookingref, new { @required = "", @id = "bookingreference", @class = "form-control", @placeholder = "Bookning Refrence" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Webservice</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.HotelDescRequest.webService, new { @required = "", @id = "webservice", @class = "form-control", @placeholder = "Webservice" })
            </div>
        </div>
        <span id="hoteSearchHotel"></span>
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-success"> <i class="fa"></i> Cancel Hotel</button>
            </div>
        </div>
    </div>
</form>