@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.HotelViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="hotelContent">
    @if (Model != null)
    {       
            @Html.Partial("~/Views/Hotel/SearchHotel.cshtml", Model)        
    }
</div>



