@{
    ViewBag.Title = "Ledger";
    Layout = "~/Views/Shared/Layout.cshtml";
    var userData = User.Identity.Name.Split('|');
}

<style>
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }

    .dataTables_filter, .dataTables_info {
        display: none;
    }
</style>

<link href="~/plugins/bower_components/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <h3 class="box-title">Ledger Report</h3>
            
            <div class="panel-body text-info" style="background: #F3F3F3;">
                
                <h3 class="box-title">Filter Criteria</h3>
                <hr class="m-t-0 m-b-20">
                <form id="LegderFliter" onsubmit="return GetLedgerList()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">From Date</label>
                                <div class="col-md-9">
                                    @Html.TextBox("From_date", "", new { id = "fromdateinput", required = "required", @class = "form-control datepicker", placeholder = "dd-mmm-yyyy" })
                                    <span class="help-block"> </span>
                                </div>
                            </div>


                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">To Date</label>
                                <div class="col-md-9">
                                    @Html.TextBox("To_date", "", new { id = "todateinput", required = "required", @class = "form-control datepicker", placeholder = "dd-mmm-yyyy" })
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>


                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">User Name</label>
                                <div class="col-md-9">
                                    
                                    <input type="text" name="memberId" required="required" readonly="" class="form-control" value="@userData[0]">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">&nbsp;</label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="table-responsive">                
                <div id="Usercontainer" style="min-height: 305px;">
                    <br/>
                    <table class="display table" id="LedgerList" width="100%">
                        <thead>
                        <tr>
                            <th data-col="0">Wallet Txn Date</th>
                            <th data-col="1">Date</th>
                            <th data-col="2">Service Id</th>
                            <th data-col="3">Ledger Name</th>
                            <th data-col="4">Particulars</th>
                            <th data-col="5">Service Type</th>
                            <th data-col="6">Wallet Txn Id</th>
                            <th data-col="7">Debit</th>
                            <th data-col="8">Credit</th>
                            <th data-col="9">Balance</th>
                            <th data-col="10">Remark</th>
                            <th data-col="11">Txn ref No. </th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/plugins/bower_components/jquery-ui/jquery-ui.min.js"></script>

<script src="~/Script/Report.js"></script>

<script>
    var jq = $.noConflict();
    jq(document).ready(function() {
        // Date Picker
        jq('#fromdateinput').datepicker({
            autoclose: true,
            todayHighlight: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-M-yy"
        }).datepicker("setDate", new Date());

        jq('#todateinput').datepicker({
            autoclose: true,
            todayHighlight: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-M-yy"
        }).datepicker("setDate", new Date());
        GetLedgerList();
    });    
</script>

