################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShineYatraAdmin/bin
/ShineYatraAdmin.Business/bin
/ShineYatraAdmin.Entity/bin
/ShineYatraAdmin.Repository/bin
/ShineYatraAdmin/obj/Debug
/ShineYatraAdmin.Business/obj
/ShineYatraAdmin.Entity/obj
/ShineYatraAdmin.Repository/obj
/ShineYatraAdmin/obj/Release/Package/PackageTmp/bin
/ShineYatraAdmin/obj/Release
/.vs/ShineYatraAdmin/v14/.suo
/.vs/config/applicationhost.config
/ShineYatraAdmin/Controllers/DashboardController.cs
/ShineYatraAdmin/Properties/AssemblyInfo.cs
/ShineYatraAdmin/Properties/PublishProfiles/ShineYatra.pubxml
/ShineYatraAdmin/Properties/PublishProfiles/ShineYatra.pubxml.user
/ShineYatraAdmin/Properties/Resources.Designer.cs
/ShineYatraAdmin/Properties/Resources.resx
/ShineYatraAdmin/Properties/PublishProfiles/Whitelablepublish.pubxml
/ShineYatraAdmin/Properties/PublishProfiles/Whitelablepublish.pubxml.user
