@model ShineYatraAdmin.Entity.PrimarySetting

<div class="table-responsive">

    <table class="table table-bordered color-bordered-table  color-table display"  width="100%">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Service provider</th>                                
            </tr>            
        </thead>
        <tbody>
            @if (Model != null && Model.structure != null)
            {
                foreach (var t in Model.structure)
                {
                    <tr id="row_@t.sub_service_id">
                        <td><img src="~/plugins/images/property/prop1.jpg" alt="iMac" width="30"></td>
                        <td><input type="hidden" name="airlineName" value="@t.sub_service_name">@t.sub_service_name</td>                        
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="7">No Structure Found</td></tr>
            }
        </tbody>
    </table>
</div>

