<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="logo" href="javascript:void(0)">
                    <img src="~/plugins/images/eliteadmin-logo.png" height="38" alt="home">
                    <span class="hidden-xs">
                        <img src="~/plugins/images/eliteadmin-text.png" alt="home">
                    </span>
                </a>
            </div>
            <div class="col-md-8">
                <div class="top-user-area clearfix">
                    <ul class="top-user-area-list list list-horizontal list-border">
                        <li><a style="font-size:15px;" href="@Url.Action("Logout","Dashboard")">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
