<!DOCTYPE HTML>
<html>
<head>
    <title> Biz Tadka | India's #1 Multi Utility Portal </title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Biz Tadka | India's #1 Multi Utility Portal" />
    <meta name="description" content="Biz Tadka | India's #1 Multi Utility Portal">
    <meta name="author" content="Biz Tadka">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/mystyles.css">
    <script src="~/js/modernizr.js"></script>
    <link rel="Stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="Stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" />

    <link rel="stylesheet" href="~/css/switcher.css" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/bright-turquoise.css" title="bright-turquoise" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/turkish-rose.css" title="turkish-rose" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/salem.css" title="salem" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/hippie-blue.css" title="hippie-blue" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/mandy.css" title="mandy" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/green-smoke.css" title="green-smoke" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/horizon.css" title="horizon" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/cerise.css" title="cerise" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/brick-red.css" title="brick-red" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/de-york.css" title="de-york" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/shamrock.css" title="shamrock" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/studio.css" title="studio" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/leather.css" title="leather" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="~/css/schemes/denim.css" title="denim" media="all" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $(".btn").click(function () {
                $(this).button('loading').delay(1000).queue(function () {
                    $(this).button('reset');
                    $(this).dequeue();
                });
            });
        });
    </script>
    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>


</head>

<body>
    <div class="preloader">
        <img src="~/images/wheel.gif" width="100" height="100" />
    </div>
    <!-- FACEBOOK WIDGET -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "../../../../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- /FACEBOOK WIDGET -->
    <div class="global-wrap">
        <!-- Preloader -->

        <header id="main-header">
            <!-- Top Navigation -->
            @RenderPage("~/Views/Shared/orange/header.cshtml")
            <!-- End Top Navigation -->
            @RenderPage("~/Views/Shared/orange/sidebar.cshtml")
        </header>

        @RenderBody()

        @*</div>
                </div>
            </div>*@

        <footer id="main-footer" class="footer text-center">
            <div class="container">
                <div class="row row-wrap">
                    2017 &copy; Utility Portal Master Admin
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/slimmenu.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/bootstrap-timepicker.js"></script>
    <script src="~/js/nicescroll.js"></script>
    <script src="~/js/dropit.js"></script>
    <script src="~/js/ionrangeslider.js"></script>
    <script src="~/js/icheck.js"></script>
    <script src="~/js/fotorama.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>

    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>*@
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/card-payment.js"></script>
    <script src="~/js/magnific.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/fitvids.js"></script>
    <script src="~/js/tweet.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="~/js/gridrotator.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/switcher.js"></script>
    <script src="~/Script/shared.js"></script>
    <script src="~/Script/otp.js"></script>
    <script src="~/Script/dashboard.js"></script>

    @*<div id="ascrail2000" class="nicescroll-rails" style="width: 10px; z-index: 9999; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 0.2;"><div style="position: relative; top: 136px; float: right; width: 10px; height: 239px; background-color: rgb(0, 0, 0); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div>*@
</body>
</html>
