@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.CompanyViewModel
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

    <div id="dashboardContent">
        @if (Model != null)
        {
            if (Model.SelectedMenu == Resources.ManageCompanies)
            {
                @Html.Partial("~/Views/Company/ManageCompany/companies.cshtml", Model)
            }
        }
    </div>


<!-- Add form itself -->
<a class="popup-with-form btn btn-success" href="#add-company" id="popupForm" style="display:none;">Open form</a>
<form id="add-company" class="form-horizontal mfp-hide white-popup-block" onsubmit="return AddEditCompany();">
    <div id="addformHtml"></div>
</form>

<!-- Edit form itself -->
<a class="popup-with-form btn btn-success" href="#edit-company_settings" id="editPopupForm" style="display:none;">Open form</a>
<form id="edit-company_settings" class="form-horizontal mfp-hide white-popup-block" style="width: 90%;" onsubmit="false">
    <div id="companySettingsFormHtml"></div>
</form>

<!-- Edit form itself -->
<a class="popup-with-form btn btn-success" href="#add_fund" id="addFundPopupForm" style="display:none;">Open form</a>
<form id="add_fund" class="form-horizontal mfp-hide white-popup-block" style="width: 90%;" onsubmit="return SaveAddFundDetail();">
    <div id="add_fundFormHtml"></div>
</form>
