@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/plugins/images/favicon.png">
    <title>Elite Admin - is a responsive admin template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- Popup CSS -->
    <link href="~/plugins/bower_components/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">
</head>
<body>

    @*@if (Convert.ToString(System.Web.HttpContext.Current.Session["CompanyTheme"]).ToLower() == "elite")
    {
        Html.RenderPartial("~/Views/Login/elite_login.cshtml", Model);
    }*@

    @Html.Partial("~/Views/Shared/OTPpopup.cshtml")
    <!-- jQuery -->
    <script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>

    <!--slimscroll JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="~/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- Magnific popup JavaScript -->
    <script src="~/plugins/bower_components/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/plugins/bower_components/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
    <script src="~/Script/shared.js"></script>
    <script src="~/Script/otp.js"></script>
    <script src="~/Script/login.js"></script>
</body>
</html>
