
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="bg-front bg-front-mob-rel">
    <div class="top-area show-onload">
        <div class="bg-holder full">
            <div class="bg-front bg-front-mob-rel"></div>
            <div class="owl-carousel owlslider owl-carousel-area visible-lg" id="owl-carousel-slider">
                <div class="bg-holder full">
                    <div class="bg-mask"></div>
                    <div class="bg-blur" style="background-image:url(/img/slider-1.jpg);"></div>
                    <div class="bg-content">
                    </div>
                </div>
                <div class="bg-holder full">
                    <div class="bg-mask"></div>
                    <div class="bg-blur" style="background-image:url(/img/slider-2.jpg);"></div>
                    <div class="bg-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


