@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.CancelationDetails

@{
    ViewBag.Title = "BookingResponse";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@if (Model != null && !string.IsNullOrEmpty(Model.error))
{
  <h3>
      @Model.error
  </h3>
}






