@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.FlightViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="dashboardContent">   
    @Html.Partial("~/Views/Flight/FlightMenu/SearchFlight.cshtml", Model)        
</div>



