
<form id="VerifyOTP" class="form-horizontal mfp-hide white-popup-block" method="post" style="width: 75%;" onsubmit="return VerifyOTP();">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"> Verify OTP</div>
                <br>
               
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                                               
                        <div class="form-group">

                            <label class="control-label col-md-2">
                                
                            </label>

                            <div class="col-md-9">
                                <label>One Time Password (OTP) has been sent to your mobile, please enter the same here.</label>
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="control-label col-md-3">
                                Enter OTP:
                            </label>

                            <div class="col-md-9">
                                <input type="text" id="otp" name="otp" />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="control-label col-md-3">
                               
                            </label>

                            <div class="col-md-9">
                               <span id ="otperror"></span>
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="control-label col-md-3">
                                &nbsp;
                            </label>

                            <div class="col-md-9">
                                <input class="btn btn-success" type="submit" value="submit" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>